html,
body {
    background: rgb(76, 0, 110);
    background: linear-gradient(122deg, rgb(42, 42, 56) 50%, rgb(45, 44, 83) 100%);
    color: white;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

html,
body,
button {
    font-family: 'Courier New', Courier, monospace;
}

hr {
    color: white;
}

p {
    text-align: center;
}

.titlemsg {
    width: 50%;
    transform: translateX(50%);
}