html,
body {
    background: rgb(76,0,110);
    background: linear-gradient(122deg, rgba(76,0,110,1) 50%, rgba(8,0,59,1) 100%); 
    color: white;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

html,
body,
button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    position: relative;
    text-align: center;
    background-color: transparent;
    text-decoration: none;
    text-shadow: 1px 1px rgba(32, 32, 32, 0.5);
}
a:hover{
    color: red;
    text-shadow: 1px 1px rgba(32, 32, 32, 0.5);
}

p{
    text-align:center;
}