.headertitle {
    margin-bottom: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30pt;
    text-align: center;
}

.headersubtitle {
    margin-block: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15pt;
    text-align: center;
}