.poemparent {
    margin-block: 20px;
    text-align: center;
}

.poemcontent {
    display: inline-block;
    text-align: left;
}

.poemtitle {
    position: relative;
    text-align: center;
    background-color: transparent;
    font-size: xx-large;
    text-decoration: none;
}

.poemdate {
    position: relative;
    text-align: center;
    background-color: transparent;
    font-size: large;
    margin-top: -35px;
    text-decoration: none;
}

.poemline {
    white-space: pre;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.poemindex {
    color: gray;
    font-family: monospace;
}